body{
    background-color: #fff8f0;
    margin: 0;
}
#big_cover{
    max-width: 1440px;
    margin: 15px auto 0px;
    /* background-color: aqua; */
}
#HERO{
    display: flex;
}
#left{
    width: 730px;
}

#top{
    display: flex;
    justify-content: space-between;
    width: 520px;
    height: 20px;
    margin: 30px 5px 30px 190px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}
#content{
    /* background-color: red; */
    width: 520px;
    height: 401px;
    margin: 70px 5px 30px 190px;
}
#name{
    width: 150px;
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #291854;

}
#career-title{
    height: 150px;
    margin-top: -15px;
}

#career-title h1{
    font-family: League Spartan;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: #190D37;
}
#career-description h3{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #331E6A;
}

input[type="button"]{
    padding: 10px 20px;
    background-color: rgb(25, 25, 25);
    color: rgb(250, 246, 239);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

#right{
    background-color: #fff8f0;
    width: 710px;
}

#foto_presentacion{
    width: 710px;
    height: 550px;
    border-radius: 0pc 0px 0px 200px;
}

#what_i_do{
    width: 1158.69px;
    height: 534px;
    margin-top: 95px;
    margin-left: 190px;
    /* background-color: green; */
}

.top-container{
    width: 700px;
    height: 195px;
    margin-left: 180px;
    /* background-color: blue; */
    text-align: center;
}

.top-small-text{
    width: 100px;
    height: 18px;
    margin: 0px auto;

}

.top-small-text h4{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color:#2858FF;
}

.top-title{
    margin-top: -24px;
    height: 80px;
    width: 600px;
    text-align: center;
    /* background-color: green;    */
    margin-left:auto; margin-right: auto;
}

.top-title h2{
    font-family: League Spartan;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    
}

.top-description{
    width: 686px;
    height: 81px;
    margin-top: -10px;
    /* background-color: green; */
    margin: -15px auto 0px;
    padding-left: 10px;
}

.top-description h3{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    
}

#boxes{
    display: flex;
    margin-top: 40px;
}

.content-box{
    width: 340px;
    height: 291px;
    background-color: white;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

.content-box h2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}

.content-box h3{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #55206D;    
}

#projects-container{
    width: 1060px;
    height: 803px;
    margin-left: 190px;
    margin-top: 50px;
}

.project-boxes{
    height: 160px;
    display: flex;
    margin-top: 30px;
}

#project-img-1{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #19ACFF;
    margin-right: 19px ;
    text-align: center;
    position: relative;
}
#project-img-2{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #FFE819;
    margin-right: 19px ;
    position: relative;
}
#project-img-3{
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background-color: #FF1919;
    margin-right: 19px ;
    position: relative;
}

#project-img-1 h1, #project-img-2 h1, #project-img-3 h1{
    margin: auto;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-content{
    width: 881px;
}

.project-name{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    color: #291854;
}

.project-description{
    margin: 10px 0px 7px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #55206D;
}

.project-content a{
    margin-bottom: 0px;
    text-decoration: none;
    color: #6A87A3;
}
.fa-solid{
    color:#6A87A3;
}


footer{
    background-color: black;
    height: 58px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}

#footer-text{
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
