body{
    background-color: #181818;
    color: white;
}

#imagen{
    width: 100%;
    

}
.Acerca{
    /* background-color: red; */
    display: flex;
    max-width: 1100px;
    margin: 20px auto 0px;

}

#Texto_acerca{
    /* background-color: red; */
    width: 50%;
    height: 270px;
    margin-left: 27px
}
#Imagen_container{
    /* background-color: blue; */
    width: 50%;
    text-align: center;
    justify-content:center ;
}

#Titulo{
    text-align: center;
    margin: 0px;
    width: 100%;
    font-size: 40px;
}
p{
    text-align: justify;
    margin: 0px 10px;
    font-size: 18px;
}
li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 0px;
    margin-left: 10px;
    font-size: 1rem;
}
ul{
    padding-left: 0px;
    
}

#Titulo2{
    margin-top: 45px;
    text-align: center;
    font-size: 3.4rem;
    
}
.Content{
    text-align: center;
    background-color: red;
    max-width: 1100px;
    margin: auto;
    box-sizing: border-box;
}

.links_carreras {
    border: 2.6px solid white;
    border-radius: 20px;
    padding: 6px 10px;
    margin-top: 0px;
}

.links_carreras a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#cartas{
    display: flex;
    box-sizing: border-box;
}

.tarjetas{
    text-align: left;
    padding: 20px;
}
.tarjetas h2{
    margin-bottom: 3px;
}
.tarjetas p{
    margin:0px ;
    font-size: 16px;
}
.tarjetas img{
    width: 330px;
    height: 240px;
    border-radius: 10px;
}

